

.header_top{
  display: flex;
  justify-content: center;
}

.logo_right{
  margin-left: 10%;
  display: flex;
  align-items: center;
  gap: 220px;
}

.logo_left{
  display: flex;
  align-items: center;
  gap: 10px;
}


.logo img {
    margin-bottom: 5px;
  }

.p_logo {
    font-family: "Itim", cursive;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    rotate: -10deg;
}

.p_bar {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 25px;
  font-weight: 400;
}

.p_baritim {
  font-family: "Itim", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 25px;
  font-weight: 400;
}

.main_screen {
  display: flex;
  align-items: flex-start; 
  justify-content: space-between;
}

.main_screen_left{
  display: flex;
  align-items: center; 
  flex-direction: column;
}

.text_container {
  flex: 1;
  z-index: 1;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-size: 50px;
  position: relative; 
  margin-left: 190px;
  display: flex;
  align-items: flex-end;
}

.text_container p_name {
  flex: 1;
  z-index: 1;
  font-family: "Itim", cursive;
  font-optical-sizing: auto;
  font-size: 50px;
  position: relative; 
}

.text_container p_free {
  width: 300px;
  height: 52px;
  display: flex;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 40px;
  align-items: center;
  justify-content: center;
  background-color: rgba(187, 253, 113, 1);
  flex: 1;
  z-index: 2;
  font-size: 21px;
  transform: rotate(-10deg);
}

.line_background {
  position: fixed;
  z-index: -1;
  background-image: url("img/Line.png");
  background-size: cover; /*  Масштабируем изображение, чтобы заполнить всю область  */
  width: 100%;
  height: 100%; 
}

.button_main{
  display: flex;
  flex-direction: row ;
  gap: 50px;
  margin-left: 100px;
}

.black-dash {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 8px;
  transition: all 0.3s ease;
  width: 200px;
  height: 50px;

}


.p_bar {
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 25px;
  font-weight: 400;
  position: relative;
  transition: text-decoration 0.2s ease-in-out;
}

.p_bar:hover::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.logo_right a {
  text-decoration: none; /* Убираем подчеркивание */
  color: inherit; /* Наследуем цвет текста от родительского элемента */
}

.p_bar:hover::after {
  transform: scaleX(1);
  
}

.black-dash:hover {
  background-color: transparent;
  border-style: dashed;
  border-color: black;
  color: rgb(0, 0, 0);
}

.dash-white {
  width: 200px;
  height: 50px;
  background-color: transparent;
  border: 2px dashed black;
  border-radius: 8px;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dash-white:hover {
  background-color: black;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 8px;
}

.search_bar {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  width: 1000px;
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  justify-content: space-between;
  margin-top: 60px;
  font-family: "Roboto Slab", serif;
}

.search_bar input {
  flex-grow: 1;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-family: "Roboto Slab", serif;
  margin-left: 10px;
  width: 800px;
}

.search_bar input:focus {
  outline: none;
  box-shadow: none;
}

.search_btn {
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  height: 45px;
  width:  125px;
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.search_btn:hover {
  transform: scale(1.1);
}

.search_bar input:focus {
  outline: none;
  box-shadow: none;
}

.main_screen_search{
  display: flex;
  justify-content: center;
}

.row{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 100px;
  margin-right: 300px;
}

.row_right{
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-left: 150px;
}

.row_left{
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}


.purple-box {
  background-color: #B283F9;
  color: white;
  padding: 1rem;
  border-radius: 15px;
  min-height: 130px;
  max-width: 300px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  transition: transform 0.2s;
}

.purple-box:hover {
  transform: scale(1.05); 
}

.text-center {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  margin-left: 100px;
  margin-right: 100px;

}

.text-center p_name {
  font-family: "Itim", cursive;
  font-optical-sizing: auto;
  font-size: 40px;

}

.curved_underline {
  border-bottom: 2px solid #484FF4;
  border-radius: 12%; 
  display: inline-block; 
}

.list {
  padding-left: 150px;
  font-family: "Roboto Slab", serif;
  font-size: 25px;

}

.h3 {
  padding-left: 150px;
  font-family: "Roboto Slab", serif;
  font-size: 25px;

}

.list{
  display: flex;
  padding-left: 100px;
  margin-right: 100px; /* add this */
  gap: 50px;
}

.list_name{
  padding-left: 150px;
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  font-weight: 300;
}

.list_right {
  display: flex;
  padding-left: 100px;
  margin-right: 100px; /* add this */
  gap: 100px;
}

.list_left {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  gap: 100px;
}

ul {
  gap: 20px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  list-style: none; /* remove default list style */
  justify-content: space-around;
}

li {
  padding-left: 20px;
  position: relative; /* add this */
}

li::before {
  content: "";
  display: inline-block;
  width: 20px; 
  height: 20px; 
  background-image: url("img/Arrow.png"); 
  background-size: 20px 20px; 
  margin-right: 20px;
}

h_list{
  font-weight: 500;
  margin-left: 200px;
  font-size: 30px;
}

h3{
  font-weight: 500;
  margin-left: 200px;
}

.image-container {
  position: relative;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.image-container img {
  display: flex;
  height: auto;
}

.text-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Roboto Slab", serif;
  font-size: 35px;
  position: absolute;
  left: 33%;
  transform: translate(-50%, 0);
}

.blue-button {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 30px;
  padding: 0.5rem 1rem;
  background-color: #484FF4;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1rem;
  transition: transform 0.2s ease;
  margin-top: 150px;
  font-size: 20px;
}

.blue-button:hover {
  transform: scale(1.1);
}

h4 {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; /* Отступ снизу */
  color: #000000;
  font-weight: 500;
}

.xtnfv{
  height: 1000px;
}

.list_name2{
  padding-left: 150px;
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  font-weight: 300;
}

.image-container2 {
  position: relative;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  
}

.text-button-container2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Roboto Slab", serif;
  font-size: 35px;
  position: absolute;
  top: 20%;
  left: 38%;
  transform: translate(-50%, 0);
}

.blue-button2 {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 30px;
  padding: 0.5rem 1rem;
  background-color: #484FF4;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1rem;
  transition: transform 0.3s ease;
  font-size: 20px;
  
}

.blue-button2:hover {
  transform: scale(1.1);
}

.text-button-container3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Roboto Slab", serif;
  font-size: 35px;
  position: absolute;
  left: 62%;
  transform: translate(-50%, 0);
}

.blue-button3 {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 30px;
  padding: 0.5rem 1rem;
  background-color: #484FF4;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1rem;
  transition: transform 0.2s ease;
  font-size: 20px;
}

.blue-button3:hover {
  transform: scale(1.1);
}

.blue-button4 {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 30px;
  padding: 0.5rem 1rem;
  background-color: #484FF4;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1rem;
  transition: transform 0.2s ease;
  font-size: 20px;
}

.blue-button4:hover {
  transform: scale(1.1);
}

.text-button-container4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto Slab", serif;
  font-size: 50px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1500px;
  
}

h6{
  font-weight: 400;
  color: #ffffff;

}

h5{
  font-weight: 400;
  color: #ffffff;
}

.image-container3 {
  position: relative;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer {
  background-color: #292929;
  color: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -8px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  margin-top: 10px; /*  Добавляем отступы вокруг каждого столбца  */
}

.footer-column h7 {
  margin-bottom: 10px; /*  Добавляем отступ под заголовком  */
  padding-bottom: 5px; /*  Добавляем отступ снизу для линии  */
  border-bottom: 1px solid white; /*  Добавляем белую линию под заголовком  */
}

.footer-column a {
  color: white;
  text-decoration: none;
  margin-bottom: 5px; /*  Добавляем отступ под каждой ссылкой  */
}

@media (max-width: 768px) {

  .main{
    overflow-x: hidden;
  }

  h3{
    font-weight: 500;
    margin-left: 50px;
  }

  html{
    width: 430px;
  }

  .footer {
    background-color: #292929;
    color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: "Roboto Slab", serif;
    font-size: 10px;
    font-weight: 300;
    margin-left: -8px;
    margin-right: -8px;
  }

  h6{
    width: 300px;
    margin-right: 100px;
    }

  .blue-button4 {
    width: 84px;
    height: 10px;
    padding: 0.5rem 1rem;
    background-color: #484FF4;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: transform 0.2s ease;
    margin-top: 1px;
    margin-right: 190px;
    margin-left: 0;
    font-size: 11px;
  }
  
  .blue-button4:hover {
    transform: scale(1.1);
  }

  .image-container3 {
    position: relative;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .text-button-container4 {
    display: flex;
    flex-direction: column;
    font-family: "Roboto Slab", serif;
    font-size: 22px;
    position: absolute;
    top: -16%;
    left: -70%;
    transform: translate(-50%, 0);
    align-items: flex-end;
  }
  

  .text-button-container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Roboto Slab", serif;
    font-size: 35px;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, 0);
    align-items: flex-end;
  }


  .xtnfv{
    height: 1000px;
  }

  .image-container2 {
    display: flex;
    width: 90%;
    height: auto;
    flex-wrap: nowrap;
    margin-left: 20px;
  }

  h5{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; 
    font-weight: 400;
    font-size: 15px;
  }

  .blue-button2 {
    width: 84px;
    height: 10px;
    padding: 0.5rem 1rem;
    background-color: #484FF4;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: transform 0.2s ease;
    margin-top: 1px;
    margin-left: 10px;
    font-size: 11px;
  }

  .blue-button3 {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 10px;
    padding: 0.5rem 1rem;
    background-color: #484FF4;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: transform 0.2s ease;
    margin-top: 1px;
    font-size: 11px;
    margin-right: 56px;
  }

  .text-button-container3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Roboto Slab", serif;
    font-size: 35px;
    position: absolute;
    top: 52%;
    left: 55%;
    transform: translate(-50%, 0);
    align-items: flex-end;
  }


  h_list{
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    margin-left: 70px;
    font-size: 22px;
    margin-top: 20px;
  }

  h4 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
    font-weight: 500;
  }

  .image-container img {
    display: flex;
    width: 90%;
    height: auto;
  }
  
  .text-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Roboto Slab", serif;
    font-size: 15px;
    position: absolute;
    left: 34%;
    bottom: 1%;
    transform: translate(-50%, 0);
    margin-bottom: 10px;
    
  }

  .blue-button {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92px;
    height: 10px;
    padding: 0.5rem 1rem;
    background-color: #484FF4;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: transform 0.2s ease;
    margin-top: 1px;
    font-size: 12px;
  }

  li {
    padding-left: 0px;
    position: relative; /* add this */
  }

  ul {
    gap: 30px;
    padding-left: 20px;
    display: flex;

  }

  .list{
    padding-left: 10px;
    margin-right: 0px; 
    gap: 0px;
    display: flex;
    flex-direction: column;
  }

  .list_name{
    padding-left: 0px;
    padding-top: 500px;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
  }

  .list_name2{
    padding-left: 0px;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
  }

  .list_right {
    display: flex;
    padding-left: 10px;
    margin-right: 20px; 
    gap: 20px;
    flex-direction: column;
    font-size: 15px;
    max-width: 1000px;
  }
  
  .list_left {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 20px;
    font-size: 15px;
  }
  

  .text-center {
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 23px;
  }

  .text-center p_name {
    font-family: "Itim", cursive;
    font-optical-sizing: auto;
    font-size: 23px;
  }

  .row_right {
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .row_left {
    display: flex;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .row {
    margin-top: 0px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    max-height: 160px;
    width: 100%;
  }

  .purple-box {
    border-radius: 10px;
    min-height: 50px;
    max-width: 290px;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    transition: transform 0.2s;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  .text_container {
    font-size: 18px;
  }
  .purple-box h2 {
    font-size: 14px;
  }
  .purple-box p {
    font-size: 14px;
  }

  .logo {
      margin-left: 5%; 
      gap: 7px;
  }

  .main_screen_left{
    display: flex;
    align-items: baseline;
    flex-direction: column;
  }
  
  .black-dash, .dash-white {
    font-size: 11px;
    padding: 8px 16px;
    height: 25px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button_main{
    display: flex;
    flex-direction: row ;
    gap: 0px;
    margin-left: 20px;
    width: 200px;
  }

  .p_logo {
    font-size: 12px; 
    rotate: -10deg; 
  }
  .logo_left img {
      max-width: 25px; 
      height: auto;  
      margin-bottom: 10px;
  }
  .logo_right{
    margin-left: 20px;
      display: flex;
      align-items: center;
      gap: 20px;
  }
      
  .logo_left{
    margin-left: 2%;
    display: flex;
    align-items: center;
  }
  .p_bar {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
  }
      
  .p_baritim {
    font-family: "Itim", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
  }

  .line_background {
    position: fixed;
    z-index: -1;
    background-image: url("img/Line_mini.png");
    background-size: 100% ;
    margin-left: -10px;
    background-repeat: no-repeat;
    max-width: 100%;
    width: 435px;
    overflow-x: hidden;
  }

  .text_container {
    flex: 1;
    z-index: 1;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-size: 15px;
    position: relative; /* Добавлено */
    margin-left: 0px;
  }
  
  .text_container p_name {
    flex: 1;
    z-index: 1;
    font-family: "Itim", cursive;
    font-optical-sizing: auto;
    font-size: 18px;
    position: relative; /* Добавлено */
  }

  .text_container p_free {
    width: 170px;
    height: 25px;
    display: flex;
    border-radius: 10px;
    margin-top: 3px;
    margin-left: 0px;
    align-items: center;
    justify-content: center;
    background-color: rgba(187, 253, 113, 1);
    font-size: 11px;
    transform: rotate(-10deg);
  }

  .people img{
    max-width: 190px;
    height: auto;
  }
  
  
.search_bar {
  display: flex;
  align-items: center;
  width: 300px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  justify-content: space-between;
  margin-top: 20px;
  font-family: "Roboto Slab", serif;
}

.search_bar input {
  flex-grow: 1;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 11px;
  margin-left: 3px;  
  width: 160px;
}

.search_bar input:focus {
  outline: none;
  box-shadow: none;
}

.search_btn {
  font-family: "Roboto Slab", serif;
  font-size: 11px;
  height: 30px;
  width:  100px;
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.search_btn:hover {
  transform: scale(1.1);
}

.search_bar input:focus {
  outline: none;
  box-shadow: none;
}
}
