.header_top{
  display: flex;
}

.logo_right{
  margin-left: 10%;
  display: flex;
  align-items: center;
  gap: 220px;
}

.logo_left{
  margin-left: 10%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
    margin-bottom: 5px;
  }

.p_logo {
    font-family: "Itim", cursive;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    rotate: -10deg;
}

.p_bar {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 25px;
  font-weight: 400;
}

.p_baritim {
  font-family: "Itim", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 25px;
  font-weight: 400;
}

.main_screen {
  display: flex;
  align-items: flex-start; /*  Выравнивание по вертикали */
  justify-content: space-between;
}

.main_screen_left{
  display: flex;
  align-items: center; /*  Выравнивание по вертикали */
  flex-direction: column;
}


.text_container {
  flex: 1;
  z-index: 1;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-size: 50px;
  position: relative; /* Добавлено */
  margin-left: 190px;
  display: flex;
  align-items: flex-end;
}

.text_container p_name {
  flex: 1;
  z-index: 1;
  font-family: "Itim", cursive;
  font-optical-sizing: auto;
  font-size: 50px;
  position: relative; /* Добавлено */
}

.text_container p_free {
  width: 300px;
  height: 52px;
  display: flex;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 40px;
  align-items: center;
  justify-content: center;
  background-color: rgba(187, 253, 113, 1);
  flex: 1;
  z-index: 2;
  font-size: 21px;
  transform: rotate(-10deg);
}


.line_background {
  position: fixed; /* или absolute, fixed */
  z-index: -1;
}



/* доверять */

.button_main{
  display: flex;
  flex-direction: row ;
  gap: 50px;
  margin-left: 100px;
}

.black-dash {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 8px;
  transition: all 0.3s ease;
  width: 200px;
  height: 50px;

}

.black-dash:hover {
  background-color: transparent;
  border-style: dashed;
  border-color: black;
  color: rgb(0, 0, 0);
}

.dash-white {
  width: 200px;
  height: 50px;
  background-color: transparent;
  border: 2px dashed black;
  border-radius: 8px;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dash-white:hover {
  background-color: black;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 8px;
}

/* .people img{
  width: 100px;
  height: auto;
} */



@media (max-width: 768px) {
  .logo {
      margin-left: 5%; 
      gap: 7px;
  }

  .main_screen_left{
    display: flex;
    align-items: baseline;
    flex-direction: column;
  }
  
  .black-dash, .dash-white {
    font-size: 11px;
    padding: 8px 16px;
    height: 25px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button_main{
    display: flex;
    flex-direction: row ;
    gap: 0px;
    margin-left: 20px;
    width: 200px;
  }

  .p_logo {
    font-size: 12px; 
    rotate: -10deg; 
  }
  .logo_left img {
      max-width: 25px; 
      height: auto;  
      margin-bottom: 10px;
  }
  .logo_right{
    margin-left: 20px;
      display: flex;
      align-items: center;
      gap: 20px;
  }
      
  .logo_left{
    margin-left: 2%;
    display: flex;
    align-items: center;
  }
  .p_bar {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
  }
      
  .p_baritim {
    font-family: "Itim", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
  }

  .line_background {
    margin: 0 0px 0 -8px;
    position: fixed; /* или absolute, fixed */
    z-index: -1;
  }

  .text_container {
    flex: 1;
    z-index: 1;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-size: 15px;
    position: relative; /* Добавлено */
    margin-left: 0px;
  }
  
  .text_container p_name {
    flex: 1;
    z-index: 1;
    font-family: "Itim", cursive;
    font-optical-sizing: auto;
    font-size: 18px;
    position: relative; /* Добавлено */
  }

  .text_container p_free {
    width: 170px;
    height: 25px;
    display: flex;
    border-radius: 10px;
    margin-top: 3px;
    margin-left: 0px;
    align-items: center;
    justify-content: center;
    background-color: rgba(187, 253, 113, 1);
    font-size: 11px;
    transform: rotate(-10deg);
  }

  .people img{
    max-width: 190px;
    height: auto;
  }
  
}

